<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Proficiency Test", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Manter Alunos",   students_url %></li>
        <li><%= link_to "Manter Cursos",   courses_url %></li>
        <li class="active"><%= link_to "Matrículas", matriculas_url %></li>
      </ul>
    </nav>
  </div>
</header>
